<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <!-- Uncomment/comment this if you need/don't need Spring support -->
    <display-name>mobile</display-name>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/classes/log4j.xml</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext*.xml</param-value>
    </context-param>
    <context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>mobile</param-value>
	</context-param>
	
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>com.company.filter.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>GBK</param-value>
        </init-param>
        <init-param>
            <param-name>ignore</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>action2</filter-name>
        <filter-class>
            org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter 

        </filter-class>
    </filter>
   
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>action2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
<error-page> 
       <exception-type>java.lang.NullPointerException</exception-type> 
       <location>/404.jsp</location> 
    </error-page> 
  <error-page> 
       <exception-type>javax.servle.ServletException</exception-type> 
       <location>/404.jsp</location> 
    </error-page>   
	<error-page>
     <error-code>404</error-code>
  	 <location>/404.jsp</location>  
 	 </error-page>

    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>

 
 	
 	<welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
   
    <jsp-config>
        <taglib>
            <taglib-uri>Taglib</taglib-uri>
            <taglib-location>/WEB-INF/MyTag.tld</taglib-location>
        </taglib>
        <taglib>
    		<taglib-uri>/ltdb</taglib-uri>
    		<taglib-location>/WEB-INF/tlds/ltdb.tld</taglib-location>
  		</taglib>
  		
    </jsp-config>    

 

</web-app>